@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  background-color: rgb(255, 255, 255);
  font-family: 'Lobster Two', cursive;
}
.bodyOfPG{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.ProfilePic{
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-around;
}
.ProfilePic img{
  display: flex;
  justify-self: center;
  min-height: 100px;
  min-width: 100px;
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
}
.SupportMe{
  background-color: transparent;
  transition: all 0.5s ease 0s;
  animation: SupportMeAnimation 4s ease-in-out infinite;
  display: flex;
  justify-self: center;
  transform: translate(-50%,0%);
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buymeacoffee{
  min-height: 100px;
  min-width: 100px;
  max-height: 200px;
  max-width: 200px;
}
.patreon{
  height: 40px;
  width: 200px;
  min-height: 40px;
  min-width: 200px;
  max-height: 100px;
  max-width: 350px;
}
.SupportMe:hover{
  animation-play-state: paused;
}
@keyframes SupportMeAnimation {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-4px);
  }
  50%{
    transform: translateY(-2px);
  }
  75%{
    transform: translateY(-8px);
  }
  100%{
    transform: translateY(0px);
  }
}
.SupportMe:hover{
  animation-play-state: paused;
}
.ContactMe{
  background-color:#242526;
  border-radius: 50%; 
  position: fixed;
  right: 15px;
  bottom:15px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
}
.contactlogo{
  position: fixed;
  transition: all 1s ease 0s;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  border-color: transparent;
}
.contactlogo:hover{
  transform: rotate(45deg);
  opacity: 0.4;
}
.ContactMe img{
  width: 50px;
  height: 50px;
}

.differentPlatform{
  list-style-type: none;
  position: fixed;
  right: 15px;
  bottom: 80px;
  padding: 0;
  margin: 0;
  transition: all 5s ease-in-out;
}
.differentIG{
  list-style-type: none;
  position: fixed;
  right: 80px;
  bottom: 400px;
  padding: 2px 6px;
  margin: 0;
  text-align: right;
  background-color: rgba(219, 219, 219, 0.801);
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgb(219, 219, 219);
}
.message{
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
  left: 0px;
  top: 25%;
  text-align: center;
}
.message h1{
  padding: 0;
  margin: 0;
}
.message p{
  padding: 0;
  margin: 0;
}
.insta{
  transition: all 1s ease 0s;
  background-color: transparent;
  border-color: transparent;
}
.differentPlatform li button{
  padding: 0px 0px;
  margin: 0px 0px;
  border: 0px;
}
.insta img{
  margin: 0;
  padding: 0;
}
.differentIG li a{
  text-decoration: none;
  color:rgb(0, 0, 0)
}